<li class="list-group-item" id="comment-{{comments.id}}">
        <span class="">{{comments.user.username}} - </span>
        <span class="boardItem">{{comments.contents}}</span>
        {% if comments.user_id == user.id %}                            
        <span class="float-right">
            <button type="button"class="btn btn-primary text-white edit_comment editComment" data-target="{{tmp.id}}"data-id="{{com_tmp.id}}">
                <i class="far fa-edit"></i> </a></button>
            <button type="button"class="btn btn-primary text-white del_comment delComment" data-id="{{tmp.id}}">
                <i class="far fa-trash-alt"></i></a></button>
        </span>
        {% endif %}
</li>