<li class="list-group-item" id="comment-{{comments.id}}">
        <span class="boardItem">{{comments.contents}}</span>
    <span class="float-right">
        <button type="button"class="btn btn-primary text-white edit_comment editComment" data-target="{{comments.article_id}}"data-id="{{comments.id}}">
            <i class="far fa-edit"></i> </a></button>
        <button type="button"class="btn btn-primary text-white del_comment delComment" data-id="{{comments.id}}">
            <i class="far fa-trash-alt"></i></a></button>
    </span>
</li>