<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/ascii/request/">
        <input type="text" name="text">
            <select name="font">
                {% for f in fonts %}
                <option value="{{f}}">{{f}}</option>
                {% endfor%}
            </select>
        <input type="submit" value="그리기">
    </form>
</body>
</html>