{% extends 'base.html' %}
{% block content %}
<h1>
    new
</h1>
<form action="{% url 'articles:new' %}" method="POST">
        <input type="text" class="from-control" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="Title" name="title" aria-describedby="emailHelp"
            placeholder="제목을 입력하시오">
    </div>
    <div class="form-group">
        <label for="contents">contents</label>
        <textarea class="form-control" id="contents" name="contents" placeholder="contents"></textarea>
    </div>    
    <div class="form-group">
        <label for="creator">Creator</label>
        <input type="text" class="form-control" id="creator" name="creator" placeholder="creator">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}