<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CategoryMapper">
	<select id="select" parameterType="Integer" 
	resultType="cate">
	SELECT * FROM CATEGORY WHERE ID=#{obj}
		
	</select>
	<select id="selectall" resultType="cate">
	
		SELECT * FROM CATEGORY
	</select>
</mapper>






